body {
	color: #FFFFFF !important;
	font: 18px 'Lato', Arial, Helvetica, sans-serif, serif !important;
}

.container {
	text-align: center;
}

.countdown-section {
	border: 8px solid rgba(255, 255, 255, 0.3);
	border-radius: 100% 0 100% 100%;
	display: inline-block;
	height: 142px;
	margin: 10px;
	padding: 10px 0 0;
	text-align: center;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 142px;
}

.countdown-amount {
	display: block;
	font-family: lato,serif;
	font-size: 60px;
	font-weight: 300;
}

body h1 {
	font-size: 45px;
	font-weight: 300;
	text-shadow: 0 2px 3px #000000;
}

body h2 {
	padding: 15px 0 50px;
}

.countdown-section:nth-child(2),.countdown-section:nth-child(3) {
	margin-top: 90px;
	vertical-align: middle;
}

.subscribe p {
	font-weight: 300;
	text-shadow: 0 0 2px #000000;
}

.email {
	display: inline-block;
	font: 200 18px 'Lato', Arial, Helvetica, sans-serif, serif;
	font-weight: 300;
	background: none transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	outline: none;
	line-height: 1em;
	padding: 7px 15px;
	width: 400px;
	margin: 0 0 10px 0;

	-webkit-box-shadow: none;
	box-shadow: none;
}

.clear {
	display: inline-block;
}

.clear .button {
	font: 200 18px 'Lato', Arial, Helvetica, sans-serif, serif;
	font-weight: 300;
	border: 3px solid #fff;
	background: none transparent;
	padding: 5px 15px;
	margin: 0;
	color: #ffffff;
	cursor: pointer;
	outline: none 0;
	text-transform: lowercase;
	text-decoration: none;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.email:focus,.email:hover {
	outline: none;
	border-color: #9ecaed;

	-webkit-box-shadow: 0 0 10px #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

.button:hover {
	background: none #fff;
	color: #000;
}

.social {
	padding-top: 10px;
}

.social div {
	border-radius: 100px;
	display: inline-block;
	height: 65px;
	width: 65px;
	margin: 0 5px;
	border: 1px solid #aaa;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.social div:hover {
	background: #FFFFFF;
}

.social div:hover i {
	color: #555555;
}

.social div a {
	font-size: 45px;
}

i {
	color: #FFFFFF;
	vertical-align: middle;
}
